name: Update README

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0   # ⭐ 깃 히스토리 전체를 가져옴 (충돌 해결 핵심)

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install python-leetcode

    - name: Run update.py
      run: python update.py

    - name: Commit changes
      run: |
        git config --global user.name 'yurim1205'
        git config --global user.email 'eoulim3237@naver.com'
        git add -A
        git commit -am "auto update README.md" || echo "No changes to commit"

    - name: Setup remote
      run: git remote set-url origin https://github.com/yurim1205/algorithm_study.git

    - name: Pull before push (avoid conflicts)
      run: git pull origin main --rebase

    - name: Push changes
      run: git push origin main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
